@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inconsolata {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
